@import "reset";
@import "colors";
@import "fonts";
@import "../../node_modules/bootstrap/less/variables";
@import "variables";
@import "../../node_modules/bootstrap/less/mixins";
@import "../../node_modules/bootstrap/less/buttons";
@import "../../node_modules/bootstrap/less/component-animations";
@import "../../node_modules/bootstrap/less/modals";
@import "../../node_modules/bootstrap/less/close";
@import "thumbnails";

body {
    color: @white;
    background: @black;
    padding: 40px;
    .Dosis;
}

#bigImage {
    width: 100%;
}

.close {
    .opacity(.5);
    .transition-transform(~'0.6s ease-in-out');
    text-shadow: none;

    &:hover,
    &:focus {
        .rotate(90deg);
        .opacity(.75);
    }
}