.Thumbnails {
    text-align: center;

    &-image {
        width: 45%;
        margin: 0 2.5% 20px;
        box-sizing: border-box;
        padding: 8px;
        border: 3px solid;
        transition: all 1s;
        cursor: pointer;

        &:hover {
            padding: 0;
            margin: 0 0 20px;
            width: 50%;
            border-color: @white !important;
        }
    }

    &-image:nth-child(n+1) {
        border-color: @gulfStream;
    }

    &-image:nth-child(2n+1) {
        border-color: @carnation;
    }

    &-image:nth-child(3n+1) {
        border-color: @pumpkin;
    }

    &-loader {
        position: fixed;
        bottom: 50px;
        width: 80%;
        left: 10%;
        background: @black;
        border: 2px solid @gulfStream;
        color: @white;
        padding: 10px;
    }
}