@brand-primary:         darken(@gulfStream, 15%);
@brand-success:         @gulfStream;
@brand-info:            @pumpkin;
@brand-warning:         #f0ad4e;
@brand-danger:          @carnation;

//== Modals
//
//##

//** Padding applied to the modal body
@modal-inner-padding:         15px;

//** Padding applied to the modal title
@modal-title-padding:         15px;
//** Modal title line-height
@modal-title-line-height:     @line-height-base;

//** Background color of modal content area
@modal-content-bg:                             @black;
//** Modal content border color
@modal-content-border-color:                   fade(@carnation, 80%);
//** Modal content border color **for IE8**
@modal-content-fallback-border-color:          @carnation;

//** Modal backdrop background color
@modal-backdrop-bg:           @black;
//** Modal backdrop opacity
@modal-backdrop-opacity:      .6;
//** Modal header border color
@modal-header-border-color:   @carnation;
//** Modal footer border color
@modal-footer-border-color:   @modal-header-border-color;

@modal-lg:                    1100px;
@modal-md:                    800px;
@modal-sm:                    500px;

//== Close
//
//##

@close-font-weight:           bold;
@close-color:                 @white;
